.box{
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 20;
    padding: auto;
    color: rebeccapurple
    }

nav a{
    /*position: absolute;
    right: 2em;
    top: 0;
    line-height: 5.5em;*/
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
}

nav > ul {
    list-style: none;   /* 移除項目符號 */
}

nav > ul {
    background-color: rgb(230, 230, 230);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    font-size: 1.2rem;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 0px;
    text-decoration: none;  /* 移除超連結底線 */
}

.float-nav{
    float: left;
}

.float-nav > li {
    float: left;
    position: relative;
    right: 50%; /* left: -50% 也有同樣效果 */
}