*{
    text-decoration:none; /*不顯示地滑綫*/
    margin: 0%;
	list-style: none;
}

body{
    background-color: rgb(246, 236, 198);
}

.main-header{
    position: absolute;
    width: 100%;
    height: 15%;
    border-left: -10px;
    background-color: aliceblue;
    top: 47px;
    margin: 0px;
    /* display: flex; */
}

.container{
    /* display: flex; */
}

.top-bar-logo{
    position: absolute;
    border: 100px;
    height: 100%;
    margin-right: 80em;
    display: flex;
}

.menu{
    display: flex;
    justify-content: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
    font-family: 新細明體;
    font-size: 16px;
    font-weight: bold;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.marquee{ 
    /* 跑馬燈 */
    position: relative;
    
}

/* search 開始 */
.search{
    position: absolute;
    right: 150px;
    top: 30px;
    width: 160px;
    height: 50px;
    border-radius: 20%;
    background-color: aliceblue;
}

.search input{
    width: 180px;
    height: 30px;

}

input::placeholder{
    color: black;
    font-size: 1.2em;
    font-style: italic;
}
/* search結束 */

.cart img{
    position: absolute;
    right: 60px;
    top: 25px;
    width: 40px;
    height: 40px;
}
/* header結束 */
/* -------------------------------------------------------------- */

.container-main{
    position: absolute;
    display:flex ;
}

.news{
    position: absolute;
    left: 70px;
    margin: 20px;
    max-width: 700px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    top: 160px;
    font-size: 20px;
    border-radius:30px;
    display: flex;
}

.news2{
    position: absolute;
    background-color: aliceblue;
    margin: 20px;
    padding: 16px;
    top: 160px;
    left: 820px;
}





/* footer開始 */
.footer-footer{
    position: absolute;
    width: 100%;
    background-color: aliceblue;
    height: 75px;
    bottom: 0px;
    text-align: center;

}

/*
.profile{
    position: absolute;
    right: 90px;
    top: 30px;
    height: 40px;
}

.top-bar{
    position: absolute;
    width: 100%;
    top: 150px;
    background-color: aliceblue;
}

.menu{
    position: relative;
    top: 115px;
    width: auto;
    display: inline-block;
    font-size: 1.2em;  
}

.sign-in:hover{
    color: rgb(134, 231, 169);
}

.box{
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 20;
    padding: 10px;
    color: rebeccapurple
}
*/