a{
    text-decoration:none; /*不顯示地滑綫*/
}

.box
{
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 20;
    padding: 10px;
    color: rebeccapurple
}

.img_bar_logo{
    position: relative;
    width: 150px;
    align-items: center;
    top: -25%;
    

}

.search-bar{
    position: absolute;
    right: 150px;
    top: 30px;
    //width: 160px;
    height: 35px;
    background-color: aliceblue;
    
}

.search input{
    width: 180px;
    height: 30px;

}

input::placeholder{
    color: rgb(141, 137, 82);
    font-size: 1.2em;
    font-style: italic;
}

.profile{
    position: absolute;
    right: 90px;
    top: 30px;
    height: 40px;
}

.function-bar{
    position: absolute;
    width: 100%;
    top: 150px;
    background-color: aliceblue;
}

.menu{
    position: relative;
    top: 115px;
    width: auto;
    display: inline-block;
    font-size: 1.2em;  
}

.container{
    position: relative;

}

