a{
    text-decoration:none; /*不顯示地滑綫*/
}

.box{
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 20;
    padding: 10px;
    color: rebeccapurple
}

.container{
    position: relative;
    padding: 0%;
}

.top-bar-logo{
    position: relative;
    width: 550px;
    align-items: center;
    top: 10px;
    left: -em;
    
}

.main-header{
	background-color:#fff;
	padding:12.5px;
}
.main-header .container{
	position: relative;
	top: 25px;
	display: flex;
	justify-content: left;
	align-items: center;
	max-width:1200px;
	height: 100px;
	margin:auto;
	z-index:4;
}

/*
.search-bar{
    position: relative;
    right: 150px;
    top: 30px;
    //width: 160px;
    height: 35px;
    background-color: aliceblue;
    
}

.search input{
    width: 180px;
    height: 30px;

}

input::placeholder{
    color: rgb(141, 137, 82);
    font-size: 1.2em;
    font-style: italic;
}

.profile{
    position: absolute;
    right: 90px;
    top: 30px;
    height: 40px;
}

.top-bar{
    position: absolute;
    width: 100%;
    top: 150px;
    background-color: aliceblue;
}

.menu{
    position: relative;
    top: 115px;
    width: auto;
    display: inline-block;
    font-size: 1.2em;  
}

.sign-in:hover{
    color: rgb(134, 231, 169);
}
*/