*{
    text-decoration:none; /*不顯示地滑綫*/
    margin: 0%;
	list-style: none;
}

body{
    background-color: rgb(246, 236, 198);
}

.main-header{
    position: absolute;
    width: 100%;
    height: 15%;
    /* border-left: -10px; */
    background-color: aliceblue;
    margin: 0px;
    display: flex;
}

.container{
    /* display: flex; */
}

.top-bar-logo{
    position: absolute;
    border: 100px;
    width: ;
    height: 100%;
    margin-right: 80em;
}


ul.menu{
    display: inline-block;
    font-family: 新細明體;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 90px;
    right: 3em;
    background-color: rgb(125, 245, 245) 40px;
}
ul.menu li{
    position: relative;
    background-color: rgb(125, 245, 245);
}

ul.menu>li{
    float: left;
    /*background-color: teal;*/
}

ul.menu a{
    color: rgba(255, 255, 255, 0.966);
    display: block;
    padding: 0 30px;
    line-height: 50px;
    background-color: teal;
}

.new{
    position: absolute;
    left: 70px;
    margin: 20px;
    max-width: 250px;
    padding: 16px;
    background-color: rgb(62, 62, 62);
    top: 500px;
    font-size: 20px;
    border-radius:30px;
}



/*
.search-bar{
    position: relative;
    right: 150px;
    top: 30px;
    //width: 160px;
    height: 35px;
    background-color: aliceblue;
}

.search input{
    width: 180px;
    height: 30px;

}

input::placeholder{
    color: rgb(141, 137, 82);
    font-size: 1.2em;
    font-style: italic;
}

.profile{
    position: absolute;
    right: 90px;
    top: 30px;
    height: 40px;
}

.top-bar{
    position: absolute;
    width: 100%;
    top: 150px;
    background-color: aliceblue;
}

.menu{
    position: relative;
    top: 115px;
    width: auto;
    display: inline-block;
    font-size: 1.2em;  
}

.sign-in:hover{
    color: rgb(134, 231, 169);
}

.box{
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    left: 20;
    padding: 10px;
    color: rebeccapurple
}
*/