*{
    text-decoration:none; /*不顯示地滑綫*/
    margin: 0%;
	list-style: none;
}

body{
    background-color: rgb(246, 236, 198);
}

.main-header{
    position: absolute;
    width: 100%;
    height: 15%;
    border-left: -10px;
    background-color: aliceblue;
    top: 47px;
    margin: 0px;
    /* display: flex; */
}

.container{
    /* display: flex; */
}

.top-bar-logo{
    position: absolute;
    border: 100px;
    height: 100%;
    margin-right: 80em;
    display: flex;
    opacity : 1;

}

/* .top-bar-logo:hover{
    opacity : 0.8;

} */

.menu{
    display: flex;
    justify-content: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
    font-family: 新細明體;
    font-size: 16px;
    font-weight: bold;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    top: px;
    transform : scale(1.2);

}

.marquee{ 
    /* 跑馬燈 */
    position: relative;
    
}

/* search 開始 */
.search{
    position: absolute;
    right: 150px;
    top: 30px;
    width: 160px;
    height: 50px;
    background-color: aliceblue;
}

.search input{
    width: 180px;
    height: 30px;
}

input::placeholder{
    color: black;
    font-size: 1.2em;
    font-style: italic;
}
/* search結束 */

.cart img{
    position: absolute;
    right: 60px;
    top: 25px;
    width: 40px;
    height: 40px;
}

.cart img:hover{
    transform : scale(1.2);

}

/* header結束 */
/* -------------------------------------------------------------- */




/* ---------------------------------------------------------------- */
/* footer開始 */
.container-footer{
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-bottom: 80px;
    /* https://blog.csdn.net/m0_38099607/article/details/71598423 */
}

.footer-footer{
    position: absolute;
    width: 100%;
    background-color: aliceblue;
    height: 75px;
    bottom: 0px;
    text-align: center;
    flex: 0 0 auto;

}