* {
    text-decoration: none;
    /*不顯示地滑綫*/
    margin: 0%;
    list-style: none;
}

body {
    background-color: rgb(246, 236, 198);

}

.main-header {
    position: absolute;
    width: 100%;
    height: 110px;
    border-left: -10px;
    background-color: rgb(184, 92, 92);
    top: 47px;
    margin: 0px;
    /* display: flex; */
}

.container {
    /* display: flex; */
}

.top-bar-logo {
    position: absolute;
    border: 100px;
    height: 100%;
    margin-right: 80em;
    display: flex;
    opacity: 1;

}

/* .top-bar-logo:hover{
    opacity : 0.8;

} */

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}


ul.drop-down-menu {
    border: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(51, 51, 51);
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    border-right: none;
}

ul.drop-down-menu>li:last-child {
    border-right: none;
}

ul.drop-down-menu>li {
    float: left;
    /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu a {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 47px;

}

ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu li:hover>a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: #ef5c28;
    color: #fff;
}

ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
}

ul.drop-down-menu ul li {
    border-bottom: none;
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul ul {
    /*第三層以後的選單出現位置與第二層不同*/
    z-index: 999;
    top: 10px;
    left: 90%;
}

ul.drop-down-menu ul {
    /*隱藏次選單*/
    display: none;
}

ul.drop-down-menu li:hover>ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

.marquee {
    /* 跑馬燈 */
    position: relative;

}

/* search 開始 */
.search {
    position: absolute;
    right: 150px;
    top: 30px;
    width: 188px;
    height: 37px;
    background-color: black;
}

.search input {
    width: 180px;
    height: 30px;
}

input::placeholder {
    color: black;
    font-size: 1.2em;
    font-style: italic;
}

/* search結束 */

.cart img {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 40px;
    height: 40px;
}

.cart img:hover {
    transform: scale(1.2);

}

/* header結束 */
/* -------------------------------------------------------------- */




/* ---------------------------------------------------------------- */
/* footer開始 */

.container-footer {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-bottom: 80px;
    font-family: Microsoft JhengHei;

}

/*footer售後： https://blog.csdn.net/m0_38099607/article/details/71598423 */


.footer-footer {
    position: absolute;
    width: 100%;
    background-color: aliceblue;
    height: 75px;
    bottom: 0px;
    text-align: center;
    flex: 0 0 auto;
}

/* footer測試開始 */



/* https://blog.csdn.net/weixin_32365777/article/details/118062003 */

/* footer測試結束 */
